aside.aside#aside
    button.aside__cross#cross
        img.aside__cross-img(src='assets/images/cross.png')
    nav.aside__menu
        a.item(href='canvas.html') Доска
        a.item(href='task.html') Задачи
        a.item(href='formulas.html') Формулы
    div