.tools {
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px 0 55px 0;
}

.tools__item {
  width: 50px;
  height: 50px;
}

.tools__item img {
  width: 100%;
}

#tools1 {
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  background-color: #4F69C5;
}

#tools2 {
  position: absolute;
  right: 50px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  background-color: #CD5035;
}

#canvas {
  position: absolute;
  top: 0;
}

#color {
  display: none;
}
