block variables

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="description" content="This is my little problem book with formulas and a canvas on which you can solve problems.")
        meta(name="keywords" content="Problem, Book, solve, canvas")
        meta(name="author" content="Poplevin Pavel")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
    body
        block content